body
{
    display : flex;
    flex-direction: column;
}

header h1
{
    text-align : center;
    padding-top:50px;
}

main span
{
    display : flex;
    flex-direction : column;
    margin-top: 10px;
}

.username
{
    position :absolute;
    margin-top : -60px;
    margin-left: 30px;
    text-align : center;
    color : lightblue;
    font-size: 25px;
}


#pcportrait
{
    float: right;
    width : 150px;
}

menu
{
    text-align : center;
    align-items: center;
    align-content: center;
    margin-top : 0;
}

menu a
{
    display:inline-block !important;
    justify-content:space-between !important;
    color : hsl(360, 100%, 60%, 1) !important;
    border : darkgray solid;
    border-radius: 10px;
    background: turquoise;
    text-align : center;
}

main
{
    margin-left: 50px;
    margin-right : 50px;
    margin-bottom : 75px;
}
main h2
{
    padding-bottom: 20px;
}

form
{
    padding-top: 10px;
    padding-bottom:10px;
    background : darkgray;
}

.abctitle
{
    margin-bottom:15px;
}

.abcselector
{
    margin-bottom : 20px;
}

footer
{
    width: 100%;
    bottom : 0;
    background : maroon;
    position : fixed;
}

footer span
{
    float: left;
    margin-left:10px;
    border : white thin !important;
}

footer a 
{
    float : right;
    margin-right : 10px;
}

@media (max-height: 600px) {
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
}