.loginbutton
{
    background: white;
}

.createbutton
{
    background: white;
}

.usernameinput
{
    background: white;
}

.passwordinput
{
    background: white;
}

.instructions
{
    background: rgb(170, 170, 170);
}