*
{
    background: rgb(33, 36, 40);
}

.router
{
    display : flex;
    flex-direction: column;
    text-align : center;
}

menu
{
    text-align : center;
    align-items: center;
    align-content: center;
    margin-top : 0;
}

menu .nav-link
{
    display:inline-block !important;
    justify-content:space-between !important;
    color : hsl(360, 100%, 60%, 1) !important;
    border : darkgray solid;
    border-radius: 10px;
    background: turquoise;
    text-align : center;
}

/*
menu
{
    display:inline-block !important;
    justify-content:space-between !important;
    color : hsl(360, 100%, 60%, 1) !important;
    border : darkgray solid;
    border-radius: 10px;
    background: turquoise;
    text-align : center;
}

menu .nav-link
{

}
*/
footer
{
    width: 100%;
    bottom : 0;
    background : maroon;
    position : fixed;
}

.name
{
    float: left;
    margin-left:10px;
    border : white thin !important;
    background: maroon;
}

.repo
{
    float : right;
    margin-right : 10px;
    background: maroon;
}

span a 
{
    float : right;
    margin-right : 10px;
}

.username
{
    position :absolute;
    margin-top : -60px;
    margin-left: 30px;
    text-align : center;
    color : lightblue;
    font-size: 25px;
}

@media (max-height: 600px) {
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
}